@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster/Lobster.eot");
  src: url("../fonts/Lobster/Lobster.ttf");
  src: url("../fonts/Lobster/Lobster.woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSansRegular.woff");
  src: url("../fonts/OpenSans/OpenSansRegular.eot");
  src: url("../fonts/OpenSans/OpenSansRegular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSans/OpenSansSemibold/OpenSans-Semibold.woff");
  src: url("../fonts/OpenSans/OpenSansSemibold/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans/OpenSansSemibold/OpenSans-Semibold.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/Myriad Pro/MYRIADPROREGULAR.woff");
  src: url("../fonts/Myriad Pro/MYRIADPROREGULAR.eot");
  src: url("../fonts/Myriad Pro/MYRIADPROREGULAR.ttf");
  font-style: normal;
  font-weight: normal; }

body .content {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 10px; }

body header {
  height: 100px; }
  body header h1 {
    float: left;
    font-size: 35px;
    font-family: "Lobster";
    padding-left: 115px; }
    body header h1 a {
      color: #44c0c2;
      text-decoration: none; }
  body header nav {
    float: right; }
    body header nav li {
      height: 10px;
      display: inline-block;
      font-family: 'Open Sans';
      padding: 35px 22.5px 45px 22.5px;
      font-weight: bold; }
      body header nav li .li_active {
        color: #44c0c2;
        border-bottom: 1px solid #44c0c2;
        background-color: #f8f9fb; }
      body header nav li a {
        color: #484c55;
        text-decoration: none; }

body .slider .slide {
  position: relative; }
  body .slider .slide .text {
    position: absolute;
    top: 200px; }
